@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('imgHover.module.css');  
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Vina+Sans&display=swap');

@import url('workMethod.module.css');
@import url('meet.module.css');
@import url('hscroll.module.css');
@import url('sliderAnimation.module.css');
@import url('projectNew.module.css');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Monoton&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.content-home{
  font-family: 'Audiowide', sans-serif;
  -webkit-text-stroke: 4px white;
color: black !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-color: #f0f0f0;
    --font-color: #333;
    --font-size: 2vw;
    --headings-color: #080808;
    --h1-hero-font-size: 9vw;
    --link-color: #3898ec;
    --gradient-color-1\<deleted\|variable-a6a38035-c0fe-f5b3-f5d3-7e95757c383a\>: #15cf74;
    --gradient-color-2\<deleted\|variable-f88fb296-5bbc-7470-a513-adf36af1eec7\>: #f1acac;
    --gradient-color-3\<deleted\|variable-b0660f1e-8262-43f6-7fc1-0f6409b182fc\>: #bf98c6;
    --new-grad-color-3\<deleted\|variable-9d55e286-d878-6287-d236-c97196e65982\>: #7179ef;
    --gradient-color-5\<deleted\|variable-e9f617f0-6a3b-8fe5-7276-e54a559ab755\>: #2833d0;
    --dark-card-color: #1d1d22;
    --gradient-color-1: #00d372;
    --gradient-color-2: #56acff;
    --gradient-color-3: #7179ef;
    --gradient-color-4: #d87cac;
    --font-color-dark-mode: #898989;
    --transparent-color: transparent;
    --heading-color-dark-mode: #f0f0f0;
    --bg-color-dark-mode: #080808;
    --bg-color-green: #152a22;
    --bg-color-blue: #003049;
    --cursor-color: #3898ec;
    --border-width: .2vw;
    --yellow-link: #daa71b;
    --pink-link: #d87cac;
    --red-link: #ff5600;
    --font-color-on-dark-bg: #ccc;
    --awwwards-bg: black;
    --awwwards-fill: white;
    --c-black: 21 21 21;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.header{
  font-size: 50px;
}






/* Color Palate for background

white: #f4f5ef
pink : coral: 255, 173, 173;
--green: 150, 241, 198;
    --black: 33, 33, 33;
    --dark_grey: 55, 55, 55;
    --error: 255, 173, 173;
    --success: 150, 241, 198;
    --green: 150, 241, 198;
    --green_alt: 119, 234, 176;
    --purple: 95, 69, 242;
    --dark_purple: 83, 59, 240;
    --orange: 255, 196, 140;
--text: 95,69,242
        background: rgba(var(--banner_background), 1);

*/
.skills_45{

  transform: rotateZ(2.5deg) !important;
  margin-top: 20px;
    background-color: rgba(255, 173, 173,1);
    border-top: 8px solid  rgba(95,69,242,1);
    border-bottom: 8px solid  rgba(95,69,242,1);
    border-top-left-radius: 80px;
  line-height: 100px;


 }
.more_freelancing1212{
  position: fixed;
  top: 50px;
  right: 20px;
  overflow: hidden;
z-index: 100;
  /* background: linear-gradient(135deg, #0B486B 0%, #F56217 100%); */

  animation: moveGradient 10s linear infinite;
  /* background: linear-gradient(45deg, #ff7e5f, #feb47b, #ffcb85, #e3ed97); */

  content: "";

  

  transition-delay: 0s;
  transition-duration: .5s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.5,1,.89,1);
  border-radius: 20px;
width: 60px;
background-color:#D8D9DA;
  /* animation: color 6s infinite; */
 
}
@keyframes color {
  0%   { background: #33CCCC; }
  20%  { background: #ffcb85; }
  40%  { background: #ff7e5f; }
  60%  { background: #FCCA00; }
  80%  { background: #feb47b; }
  100% { background: #e3ed97; }
}

a[ id= "#contact" ]:target {
  -webkit-transform: translateY( -1000px );
  transform: translateY( -1000px );
  }


.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
 
  font-family: sans-serif;
  overflow: hidden;
  scroll-behavior: smooth;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}



.color-black {
/* #0a0a0c 101010 */
  background-color:#0a0a0c ;
  color: #f6eee3;
  transition: background-color 500ms ease-in,padding 0.8s linear;;
}
.color-indigo {

  background-color: rgba(251, 239, 225,1);
  transition: background-color 500ms ease-in;
}
.color-blue {
  background-color: #2F8FED;
  transition: background-color 500ms ease-in;
}
.color-green {
  background-color: #4DCF42;
}
.color-yellow {
  background-color: #FAEB33;
  transition: background-color 500ms ease-in;
}
.color-orange {
  background-color: #F19031;
  transition: background-color 500ms ease-in;
}
.color-red {
  background-color: #F2293A;
  transition: background-color 500ms ease-in;
}




.ribbon * {
  flex-shrink: 0;

}

.more_freelancing{
  position: fixed;
  top: 50px;
  right: 10px;
  overflow: hidden;
z-index: 100;
  /* background: linear-gradient(135deg, #0B486B 0%, #F56217 100%); */

  animation: moveGradient 10s linear infinite;
  background: linear-gradient(45deg, #ff7e5f, #feb47b, #ffcb85, #e3ed97);

  content: "";

  

  transition-delay: 0s;
  transition-duration: .5s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.5,1,.89,1);

width: 56px;
border-radius: 20px;

  animation: color 6s infinite;
 
}
.ribbon {
  font-size: 2rem;
  line-height: 2rem;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  display: block;
}

#root #wrapper main #home .ribbon.show {
  height: calc(100vh - 4rem);
  opacity: 1;
  transition-delay: var(--d,0s);
  transition-duration: 1.5s;
  transition-property: height,opacity;
  transition-timing-function: cubic-bezier(.45,0,.55,1);
}
.ribbon {

}

.ribbon:before {
  height: calc(100vh - 5rem);
}

.slider .container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #000000;
  font-family: 'Vina Sans', sans-serif;

  font-size: 40px;
  text-transform: capitalize;
}

.show {
  height: calc(100vh - 5rem);
}

.ribbon .slider {
  left: 50%;
  position: absolute;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;

}

.animate {
  -webkit-animation: slide 50s infinite;
  animation: slide 50s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  flex-shrink: 0;
}

@keyframes slide {
  0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
  100% {
      -webkit-transform: translate3d(-100%,0,0);
      transform: translate3d(-100%,0,0);
  }
}


.panel-black{

}


.subline-home{
  font-size: 40px;
  text-align: end;
  margin-right: 80px;
}

.subline-home p{
  align-items: center;
  
}


/* .home_punch {
  width: 500px;
  overflow: hidden;
  white-space: nowrap;
}

.moving-text {
  display: inline-block;
  animation: movePunchLeft 5s linear infinite;
}

@keyframes movePunchLeft {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
} */


.container_punchLine {
  width: 850px;
  overflow: hidden;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
}

.punch_line {
  display: inline-block;
  -webkit-text-stroke: 1px white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation: moveLeftPunch 50s ease-in-out infinite;
}

@keyframes moveLeftPunch {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-40%, 0, 0);
  }
}










@media screen and (max-width:600px) {

  .ribbon .slider {
    transform: rotate(0deg);
    margin-top: 10px;
  }

  .more_freelancing1212{
    position: fixed;
    left: 10px;
    right: 20px;
    height: 60px;
    width: 77%;
    animation: color 6s infinite;


  }


  .content-home{
    font-size: 29px !important;
color: white !important;
-webkit-text-stroke: 0px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  .content-home{
    font-size: 46px !important;
color: white !important;
-webkit-text-stroke: 2px !important;
  }
}




/*     background-color: rgb(var(--c-black)/var(--tw-bg-opacity));
 */


 .arrow-cross{
  content: url(/Images/arrow-right-solid.svg);
    display: inline-block;
    background-position: center;
    text-align: center;
    transform: rotate(-47deg);
    margin-top: 15px;
    margin-right: 2px;
 }


 @media screen and (max-width:500px) {
  .newsletter{
    margin-top: 10px;
  }
  
 }


 .font-vina{
  font-family: 'Vina Sans', sans-serif;
 }