.projectLi:hover {
    background-color: black;
}


.ul {


  display: flex;
color: black;
font-size: 50px;

  }   

  ul{
    height: 100vh;
    width: 100dvw;
   
  }

  .li_inside{

    height: 100%;
    width:0%;
flex: 0.3;
  }



  .list-item {
    list-style: none;
    padding: 10px;
    margin: 5px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    color: white; /* Text color */
  }
  
  .list-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: black; /* Default background color */
    transition: width 0.5s;
  }
  
  .list-item:hover::before {
    width: 100%;
  }